<!-- proxy2.ejs -->

<!DOCTYPE html>
<html>

<head>
  <title>Node Unblocker</title>
  <link rel="stylesheet" href="/style.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2273822566525424" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>Node</h1>
    <p>Type a link or a search query below:</p>
    <p>You are using DuckDuckGo</p>
    <form id="search-form" action="/search2" method="get">
      <div class="search-container">
        <input type="text" id="search-input" name="query" placeholder="Enter URL or search query">
        <button type="submit" id="search-button">Go</button>
      </div>
    </form>
    <!-- Go back to Google button -->
    <a href="/proxy" class="go-back-button">Go back to Google</a>
  </div>
</body>

</html>
